
.button--cancel {
  cursor: pointer;
  align-items: center;
  background: #BE65F5;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1.2px;
  line-height: 1;
  margin-right: 10px;
  padding: 8px 10px;
  text-transform: uppercase;
  width: 100%;
}

.button--update {
  cursor: pointer;
  align-items: center;
  background: #9B4DCB;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1.2px;
  line-height: 1;
  padding: 8px 10px;
  text-transform: uppercase;
  width: 100%;
}

.fa-button-secondary {
  padding: 8px 10px;
  white-space: nowrap;
  text-transform: uppercase;
  min-width: 75px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #9f9f9f;
  font-weight: 700;

  transition: all 0.150s linear;
}

.fa-button-secondary:hover {
  border: 2px solid #52e3d0;
  color: #52e3d0;
  transition: all 0.150s linear;
}

.fa-button-primary {
  padding: 8px 10px;
  text-transform: uppercase;
  min-width: 75px;
  margin-top: 10px;
  border: 2px solid #52e3d0;
  border-radius: 4px;
  background-color: #52e3d0;
  color: white;
  font-weight: 700;

  transition: all 0.150s linear;
}

.fa-button-primary:hover {
  border: 2px solid #58c3b5;
  color: white;
  background-color: #58c3b5;
  transition: all 0.150s linear;
}

.budget__heading {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 16px 12px;
}

.budget-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px;
}

.budget-container--small {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 391px !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #faf3cb21;
  align-items: center;
}

.main-display {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.label-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 4px;
}


.budget-dropdown {
  width: 100%;
  padding: 4px 6px;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.input-label {
  font-weight: 600;
  color: #858585;
  font-size: 12px;
}

.header-content {
  font-size: 24px;
  font-weight: 600;
}


.header-container {
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
  margin: 8px 8px;
  background: rgb(148,21,227);
  background: linear-gradient(167deg, rgba(148,21,227,1) 12%, rgba(179,84,238,1) 100%);
  color: #fdfaea;
  border-radius: 10px;
}

.add-expense {
  position: absolute;
  color: #fdfaea;
  border: 2px solid #fdfaea;
  border-radius: 5px;
  padding: 6px;
  font-size: 10px;
  right: 10px;
  font-weight: 700;
}

.add-expense--icon {
  position: absolute;
  color: #e8efca;
  border-radius: 5px;
  font-size: 18px;
  right: 10px;
  font-weight: 600;
}

/***** NAVIGATION *****/

.navigation {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background: rgb(148,21,227);
  background: linear-gradient(167deg, rgba(148,21,227,1) 12%, rgba(179,84,238,1) 100%);
  box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.19);
  color: #fdfaea;
}

.navigation-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 25px;
  border-radius: 100%;
  position: absolute;
  top: 1px;
}

.current-route {
  color: #cbf2f7 !important;
  transition: all .150s linear;
}

.current-route.icon-container {
  transition: all .150s linear;
}

.icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  width: 58px;
  height: 100%;
  transition: all .150s linear;
}

navigation-toolbar {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

/***** BUDGET CALENDAR *****/

.header-container__budget {
  padding: 10px;
  flex-direction: column;
}

.header-container__budget h4 {
  margin-bottom: 12px !important;
}

.button__title {
  color: #fdfaea;
  font-weight: 600;
  border: none;
  background: #723ea0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  transition: all .150s linear;
}

.button__action {
  background: #fdfaea;
  display: flex;
  color: #9557cc;
  border: none;
  min-width: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 22px;
  transition: all .150s linear;
}